 
<div class="container">
	<div class="row">
		<div class="col-sm-4 col-md-4"></div>
		<div class="col-sm-4 col-md-4" style="margin: 7% 0;">
    		<div class="panel panel-default">
					<div class="panel-heading">
						<strong> Sign in to continue</strong>
					</div>
					<div class="panel-body">
						<form role="form"  [formGroup]="form">
							<fieldset>
								<div *ngIf="loginStatus">
										<div class="alert alert-{{ className }}">
											{{ msg }}
										</div>
								 </div>
								<div class="row">
									<div class="col-sm-12 col-md-10  col-md-offset-1 ">
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-user"></i>
												</span> 
												<input placeholder="Email or Mobile" type="text" [(ngModel)]="loginname" formControlName="loginname" [ngClass]="{'myclass': shouldShow,'form-control':true}">
											</div>
											<p class="inline-error" *ngIf="shouldShow && form.get('loginname').hasError('required')"> Email Or Mobile is Required </p>
										</div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-lock"></i>
												</span>
												<input placeholder="Password" type="password"  [(ngModel)]="password" formControlName="password" [ngClass]="{'myclass': shouldShow,'form-control':true}">
											</div>
											<p class="inline-error" *ngIf="shouldShow1 && form.get('password').hasError('required')"> Password is Required </p>
										</div>

										<div class="form-group">
											<input type="submit" name="submit" (click)="submitForm(form)" class="btn btn-lg btn-primary btn-block" value="Sign in">
										</div>

										<div class="form-group">
											<div class="input-group">
												<!-- <input name="rememberme" id="rememberme" type="checkbox" > <span  class="rem" style="font-size: 12px;padding-left: 5px;"> Remember me </span> -->
												<span routerLink="/forgot-password" class="forgot" style="font-size: 12px;">Forgot Password</span>
											</div>
										</div>


									</div>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="panel-footer ">
						Don't have an account! <a routerLink="/signup"> Sign Up Here </a>
					</div>
                </div>

	</div>
		<div class="col-sm-4 col-md-4"></div>
	</div>
</div>
